/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:top;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
/* global font settings */
body{color:#333333;font:11px/16px Arial, Helvetica, sans-serif;}



/* s.generic */
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
.clear2{clear:both;}
.dnone{display:none;}
.middle{margin:0 auto;width:50%;}

.hidden{
	visibility:hidden;
}

.displayTable{
    display: table;  
}


.displayTableCell{
    display: table-cell;    
}

.paddingLeft10{
    padding-left:10px;    
}

.paddingRight10{
    padding-right:10px;    
}

.marginTop5{
    margin-top:5px;    
}

.marginBottom5{
    margin-bottom:5px;    
}

.alignLeft{
    text-align:left;    
}

.alignCenter{
    text-align:center;    
}

.alignRight{
    text-align:right;    
}

.width40perc{
    width:  40%;    
}

.width20perc{
    width:  20%;    
}

.width97perc{
    width:  97%;    
}

.width98perc{
    width:  98%;    
}

.width99perc{
    width:  99%;    
}

.breakWord{
    word-wrap:  break-word;
}

.inlineBlock{
	display:	inline-block;
}

.verticalTop{
	vertical-align: top;
}

.verticalBottom{
	vertical-align: bottom;
}

.verticalMiddle{
	vertical-align: middle;
}

.width35px{
    width:  35px;    
}

.width90px{
    width:  90px;    
}

.width100px{
    width:  100px;    
}

.width325px{
    width:  325px;    
}

.width331px{
    width:  331px;    
}

.state-selectbox{
	width:	44px;
}

.config-status-box{
	position:absolute;
	left:0px;
	height:20px;
	width:20px;
	display:block;
	z-index:10;
}

.font-bold{
	font-weight:bold!important;
}

.font-normal{
	font-weight:normal!important;
}


/* acronym is used for text-tooltips*/
acronym{
	border-style:dashed;
	border-width:0px 0px 1px 0px;
	border-color:#006699;
	cursor:default;
	text-decoration:none;
}

/* fixed width for inputs*/
.table-loop{font-size: 11px;}
.table-loop .g-input, .table-meta .g-input{font-size: 11px;height:14px;}
.i-date{width:77px;}
.table-loop .i-date, .table-meta .i-date{width:60px;}
.i-count{width:30px;}
.table-loop .i-count{width:27px;}
.customer-select{width:100%}
.w-100{width:100%;}
/*.h-100{height:100%;}*/
.min-h50{min-height:50px;}
.h118{height:118px;}
.w282{width:282px;}
.w275{width:275px;}

/* wrapper */
/*.wrapper{margin:23px 7px 0px 7px;}*/
.wrapper {margin: 10px 0px 0px 0px;width:976px}

/* wrapper for popups & Co. without width */
.wrapper-nw {margin: 10px 0px 0px 0px;}

/* wrapper in small-site-frame */
.w620{width:620px;}
.w638{width:638px;}
.w788{width:788px;}
.w858{width:858px;}
.w450{width:450px;}
/* wrapper width for search */
.w780{width:780px;}

/* fontsizes*/

/* e.generic */

h1{
color:#ffffff;
font-size:23px;
}
h2{font-size:24px;}
h3{/*font-size:13px;*/font-size: 12px;}

/* links */
a{color:#006699;}
a:hover{color: #006699;text-decoration:none;}

.f-13{font:13px/18px Arial, Helvetica, sans-serif;}
.f-9{font:9px/11px Arial, Helvetica, sans-serif;}

/* --------- S.NAVIGATION ---------------- */

.progress-wrapper{
    /*margin-bottom:7px;*/
    display:block;
    /*background-color:#ebebeb;*/
	margin-left:-1px;
	margin-bottom:15px;
	background-color:#ffffff;
	width:976px;
}

.hwrap{
    background-color:#ffffff;
    /*width:654px;*/
	width:976px;
}

.the-progress li{
    float:left;
    text-align: center;
    color:#9b9b9b;
	/* added */
	padding:0px;
	margin:0px;
}

.navholder{
}

/* navigation with sprite */
.pnav li.p-disabled, .pnav .p-current, .pnav .p-done{
    /*height:48px;*/
    float:left;
    /*margin-right:-3px;*/
    font-weight:bold;
    /*font-size:11px;*/
	height:35px;
	margin-right:-1px;
    font-size:12px;
}

.pnav{
    /*margin-right:5px;*/
	margin-right:0px;
	margin-top:-1px;
}

/* set background-image for main-nav */
.p-1, .p-1a,.p-2, .p-2a,.p-3, .p-3a,.p-4, .p-4a{
background-image: url(../img/nav-sprite_t.png);
background-repeat:no-repeat;
text-align:center;
}

/* nav text position */
.p-title{
/*margin-top:20px;
line-height:73px;*/
margin-top:0px;
line-height:37px;
}

.p-title .p-number{font-size:25px;padding-right:10px;}

/* disabled text-color */
.p-disabled .p-title{
color:#9b9b9b;
}

/*
.p-done{
color:#3d5e7f;
}
*/

/* done text color */
.pnav .p-done a {
text-decoration:none;
color:#3d5e7f;
}

/* done hover color */
.pnav .p-done a:hover{
color:#153b62;
}

/* current text color */
.p-current{
color:#153b62;
}

/* set width fitting to background-image */
/* p1 = warenkorb */
.p-1, .p-1a{
/*width:141px;*/
height:49px;
width:245px;
}

/* p2 = kundendaten */
.p-2, .p-2a{
/*width:139px;*/
height:49px;
width:245px;
}

/* p3 = bestellen/anfragen */
.p-3, .p-3a{
height:49px;
/*width:140px;*/
width:245px;
}

.p-1, .p-1a, .p-2, .p-2a, .p-3, .p-3a, .p-4, .p-4a{
height:35px;width:244px;
}

/* p4 = bestaetigung */
.p-4, .p-4a{
/*height:49px;*/
/*width:134px;*/
height:35px;
width:245px;
}

/* set background-position */
/* p1 */
.pnav .p-disabled .p-1{
/*background-position: -3px -7px;*/
background-position: -1px -1px;
}

.pnav .p-current .p-1{
/*background-position: -3px -117px;*/
background-position: -1px -45px;
}

.pnav .p-done .p-1{
background-position: -1px -89px;
}

.p-1a{
/*background-position: -3px -62px;*/
display:block;
background-position: -1px -89px;
}

a.p-1a:hover{
/*background-position: -3px -117px;*/
background-position: -1px -45px;
}

/* p2 */
.pnav .p-disabled .p-2{
/*background-position: -144px -7px;*/
background-position: -245px -1px;
}

.pnav .p-current .p-2{
/*background-position: -144px -117px;*/
background-position: -245px -45px;
}

.pnav .p-done .p-2{
/*background-position: -144px -63px;*/
background-position: -245px -89px;
}

.p-2a{
/*background-position: -144px -62px;*/
display:block;
background-position: -245px -89px;
}

a.p-2a:hover{
/*background-position: -144px -117px;*/
background-position: -245px -45px;
}

/* p3 */
.pnav .p-disabled .p-3{
/*background-position: -283px -7px;*/
background-position: -489px -1px;
}

.pnav .p-current .p-3{
/*background-position: -283px -117px;*/
background-position: -489px -45px;
}

.pnav .p-done .p-3{
/*background-position: -283px -62px;*/
background-position: -489px -89px;
}

.p-3a{
/*background-position: -283px -62px;*/
display:block;
background-position: -489px -89px;
}

a.p-3a:hover{
/*background-position: -283px -117px;*/
background-position: -489px -45px;
}

/* p4 */
.pnav .p-disabled .p-4{
/*background-position: -424px -7px;*/
background-position: -733px -1px;
}

.pnav .p-current .p-4{
/*background-position: -424px -117px;*/
background-position: -733px -45px;
}

.pnav .p-done .p-4{
/*background-position: -424px -62px;*/
background-position: -733px  -89px;
}

.p-4a{
/*background-position: -424px -62px;*/
display:block;
background-position: -733px  -89px;
}

a.p-4a:hover{
/*background-position: -424px -117px;*/
background-position: -733px  -45px;
}

.p-done a .p-title, .p-done a .p-number{cursor:hand;} 

/* ----------- E.NAVIGATION ------------- */

/* ----------- S.INPUTS ----------------- */

/* generic settings for inputs */
.g-input, .i-error {
color:#333333;font:12px/16px Arial, Helvetica, sans-serif;
padding:2px;
border:1px solid #849db1;
height:14px;
}

/* input contains error: red border */
.i-error{
border:1px solid #e12a2e;
}

/* set xtra margins to inputs in kundendaten.html */
.customer-data .g-input, .customer-data .g-textarea, .customer-data .ttip, .customer-data-compact .g-input, .customer-data-compact .g-textarea, .customer-data-compact .ttip {
margin:5px 0px;
}

/* set xtra margins to tooltip-imgs in kundendaten.html */
.customer-data .ttip{
margin-left:5px;
}

.padd-t{
clear:both;
padding-top:20px;
display:block;
}

/* special country shortcut in kundendaten.html */
.fixed-text{
margin: 5px 3px;
}

/* generic textarea*/
.g-textarea{
color:#333333;font:12px/16px Arial, Helvetica, sans-serif;
padding:2px;
border:1px solid #849db1;
}

/* info input in warenkorb.html*/
.info-input{
margin-bottom:10px;
/* changed: 2011-02-15 */
width:97%;
}

/* generic select */
.g-select{
padding:0px;
height:20px;
}

.table-loop .g-select {
    padding: 0px 0px 0px 0px;
	height:20px;
}


/* checkbox */
.cbox{
vertical-align: middle;
margin-left: 5px;
}

.search-results .cbox {
    margin-left: 0px;
}


/* radios */
.gen-radio{
line-height:30px;
padding:0;
margin:-4px 3px 0px 0px;
}

/* button next to input (input left, button right)*/
.b-right{
/*margin-left:6px;*/
margin-left:0px;
}

/* button next to input (input right, button left)*/
.b-left{
margin-right:6px;
}

/* special button factory (text left, button right)*/
.b-right-factory{
/*margin-left:20px;*/
margin-left:2px;margin-right: 6px;
/*2011-02-28 voth: fix for too big row height*/ 
/*margin-left:3px;margin-right: 1px; */
}

/* placeholder */
.b-right-blind{
margin-left:20px;
}

/* links */
a.stock-info{
background-image:url(../img/i-si.png);background-repeat:no-repeat;
background-position: 0px 0px;
width:20px;
height:20px;
display:block;
float:left;
}

.table-loop .nl, .table-loop-error .nl{
/*margin-bottom:8px;*/
margin-bottom:6px;
}

.table-loop td, .table-loop-error td{
/*padding-bottom:0px;*/
padding-bottom: 2px;
}

.table-loop td{border-left:0px;}


tr.no-border td{
border-bottom:0px;
}

tr.no-border-anyway td, tr td.no-border-anyway{
border-bottom:0px;
}

tr.b-top td{
border-top:1px solid #999999;
/* edit DF: padding-top:7px;*/
}

tr.b-bot td{
border-bottom:1px solid #999999;
padding-top:5px;
padding-bottom:5px;
}

tr.b-top td.no-border{
/* edit: DF border:0px;*/

    border-top: 0 none;

}

/* spacer col */
tr.b-bot td.h-spacer20{
border:0px;
width:5px;

}

.order-td{
padding:0;


}

.order-td .text-holder {
background-color:#ebebeb;
border-top:2px solid #999999;
border-bottom:1px solid #999999;
margin-bottom:12px;
padding: 10px 10px 10px 10px;
line-height:20px;
}


.order-inner-table td{
background-color:#ebebeb;
padding: 6px 10px 0px 10px;
}
.order-inner-head td{
background-color:transparent;
border-bottom:2px solid #999999;
padding: 4px 10px 4px 10px;
}

tr.order-inner-table-last td{
border-bottom:1px solid #999999;
padding-bottom:15px;

}


/* basket */
.shop-heading{background-color:#7e9cba;height:48px;padding:0px 21px 0px 14px;background-image:url(../img/mainsprite.png);background-repeat:no-repeat;background-position: right -514px;}
.progess{background-color:#ebebeb;height:48px;}
.shop-heading h1{margin-top:14px;}

/* loginfo */
.loginfo{
/*margin-bottom:22px;
margin-top:10px;*/
font-size:16px;
/*added*/
margin-bottom: 9px;margin-top: 2px;line-height:15px
}

.loginfo a{
text-decoration:none;
font-weight:bold;
/* added */
line-height:17px;margin-top: 2px;
}


.loginfo a:hover{
text-decoration:underline;
}

.popup tr.table-headline td{
padding-bottom:12px;
font-size:16px;
border-bottom:2px solid #999999;
}

.alert{
font-weight:bold;
/*background-color:#fadddc;*/
/*color:#e12a2e;
padding: 15px 20px;
margin-bottom:22px;*/

	background-color: #fcebea;
    color: #df1d22;

    margin-bottom: 15px;
    padding: 8px 12px;
	border:1px solid #df1d22;
	font-size:11px;
	line-height:14px;

}

.alert a{color: #df1d22;}

.info {
    background-color: #fdf3e5;
    color: #333333;
	font-weight:bold;
    margin-bottom: 15px;
    padding: 8px 12px;
	border:1px solid #ef8700;
	font-size:11px;
	line-height:14px;
}

.info a{color: #333333;}

.info ul, .alert ul{
list-style:disc;
list-style-position: outside;
margin-left:13px;
margin-top:3px;
vertical-align:middle;
}

.info ul li, .alert ul  li{
list-style:disc;
list-style-position: outside;
padding:0px;
margin:0px;

vertical-align:middle;}

.warning {
    background-color: #fdf3e5;
    color: #333333;
  font-weight:bold;
    margin-bottom: 15px;
    padding: 8px 12px;
  border:1px solid #ef8700;
  font-size:11px;
  line-height:14px;
}


/*
.warning{
	background-color: white;
	font-weight:bold;
	color: blue;
	padding: 15px 20px;
	margin-bottom:22px;
}
*/

td.bgCol-error, .no-border td.bgCol-error{
/*
background-color:#fadddc;
color:#e12a2e;
font-weight:bold;
padding: 10px 10px 10px 10px;
border-top: 1px solid #ffffff;
*/
    background-color: #fcebea;
	border:1px solid #df1d22;
    color: #df1d22;
    font-weight: normal;
    padding: 6px 8px;
	line-height:14px;
}

td .highlight {
	font-weight: bold;	
	color: #df1d22;
}

td .nl .error-txt a{
font-weight:bold;
color:#e12a2e;

}

.agbinfo{
margin-bottom:22px;
padding-left:10px;
color:#333333;
}

/* tables*/

table{
/*table-layout:auto;*/
empty-cells:show;table-layout:fixed
}

td{
/*padding:6px 10px 3px 10px;*/
padding:6px 7px 2px 7px;
}

table.calendar{
width:217px;
}

table.stockinfo{
width:200px;
}


/* fixed td.width */
.width100{
width:200px;
background-color:blue;
}


.tableholder{
margin-bottom:25px;
}

.table-intro td{
    background-color:#7e9dbb;
    color:#ffffff;
    font-weight:bold;
    border-bottom:1px solid #ffffff;
    /*
	font-size:13px;
    padding: 5px 10px;
	*/
	font-size:12px;
    padding: 4px 7px;
}

/* table intro with link (watchlist)*/
.w-link td{
    padding: 7px 10px;
    line-height:22px;

}

.table-intro-tracking td{
    background-color:#999999;
    color:#ffffff;
    font-weight:bold;
    border-bottom:1px solid #ffffff;
    font-size:13px;
    padding: 5px 10px;
    border-left:1px solid #ffffff;

}

/* td colors*/
td.bgCol-d {
    background-color:#999999;
    font-weight:bold;
    color:#ffffff;
}


td.bgCol-l{
    font-weight:bold;
    color:#333333;

}

td.bgCol-white{
background-color:#ffffff;
}

td.bgCol-e-d{background-color:#ebebeb;}
td.bgCol-l, tr.add-item td {background-color:#cccccc;}

td.bgCol-sorted{
background-color:#dee9f4;
}

tr.customer-data td{
background-color:#ebebeb;
padding: 15px 25px 5px 20px;
}
/* less padding */
tr.customer-data-compact td{
background-color:#ebebeb;
padding: 5px 25px 0px 20px;
}

tr.xtra-pad-b td{
padding-bottom: 25px;
}

tr.add-item td{
padding-bottom:0px;
}

td.bgCol-search{
background-color:#dee9f4;
}

/* aligns*/
td.alignb{vertical-align:bottom;}
td.alignr{text-align:right;}
td.alignc{text-align:center;}
td.alignrb{
text-align:right;
vertical-align: bottom;
}
td.alignrt{
text-align:right;
vertical-align: top;
}
/* paddings*/
table td.no-pad-r{padding-right:0px;}
table td.no-pad-l{padding-left:0px;}
table td.no-pad-lr{
padding-left:0px;
padding-right:0px;
}

table td.no-pad-t{padding-top:0px;}
table td.no-pad-b{padding-bottom:0px;}
table td.no-pad-lrtb{padding:0;}
.reset-elem-pad { padding: 0 !important; }

/* tooltip */
.tooltip{
	margin:0px;
	padding: 7px 10px 8px 10px;
	position:absolute;
	top:-1000px;
	left:-3000px;
	/*background-color:#7e9dbb;*/
	/*color:#ffffff;*/
	font-weight:bold;
	/*padding: 10px 10px 8px 10px;*/
	line-height:1em !important;
	background-color:#dfe9f4;
	border:1px solid #7e9dbb;
	padding:9px 11px 12px 11px;
	color:#333333;
}

div.tooltip table tr td {
	border: 0px;
  line-height:1em !important;
}

.tooltip table{
  line-height:1em !important;
}
.tooltip table td{padding:3px 6px 0px 5px;}
.tooltip table td.name{padding-right:12px}
.tooltip table td.value{font-weight:normal;}



/* external information */
td.bgCol-info-ext{background-color:#ebebeb;}
.ext-info-holder{padding: 0px 0px 10px 0px;}


.table-head td{
border-bottom: 2px solid #999999;
font-weight:bold;
vertical-align: bottom;
/*font-size:13px;*/
font-size: 12px;
line-height:14px;
padding-bottom:4px;
padding-top:5px;
}

/* xtra availability popup */
.table-head-btop  td{
border-bottom: 2px solid #999999;
border-top: 2px solid #999999;
font-weight:bold;
vertical-align: bottom;
font-size:13px;
}


tr.table-meta td{
padding-bottom:5px;
/*font-size:13px;*/
font-size:12px;
padding-top: 2px;
}



.table-meta.no-border td{padding-bottom:0px;padding-top:5px;}
table.basket .table-meta td .nl {margin-top:-2px;display: block;}

/* if date and 'Für alle Positionen übernehmen' order is switched */
#meta1 td, #meta2 td{padding-top:8px;}

.table-loop td, .table-loop-sum td{
border-bottom: 1px solid #999999;
}


.table-loop-sum td{
padding: 6px 10px 5px 10px;
}


.order-basket-last{
border-bottom: 2px solid #999999;
}

.hint td{padding: 20px 10px;}

.hint-agb td{padding: 10px 10px;}


.error-tr td{border: 0 none;}

.table-loop-error td {border-bottom: 1px solid #999999;}

.no-border td{border:0px;}

.no-border-bot td{border-bottom:0px;}

td.no-border-left{border-left:0px;}




.c-red{color:#dd2a1b;}

table tr td.alignr span.align-l{
text-align:left;
}

.c-black{
color:#333333;
padding-right:18px;
font-weight:bold;
}

/* bold with padding */
.f-bold{
font-weight:bold;
padding-left:5px;
}
.f-normal{padding-left:5px;}

/* font-weight */
.f-strong{font-weight:bold;}

/* table actions */
.table-actions td ul li {
display:inline;
margin-right:22px;
}

.inline-li-right li{
display:inline;
margin-left:22px;

}

.table-actions td ul.ul-right li {
display:inline;
margin-left:22px;
margin-right:0px;
}

.table-actions td ul{
margin:5px 0px 25px 0px;
}

.table-actions td ul.go-ahead{
margin:10px 0px 0px 0px;
font-size:13px;
}

.confirm  .table-actions td ul.go-ahead{
margin:5px 0px 10px 0px;
}




.table-actions td{
vertical-align: top;
}

.table-actions li a {font-size:12px;}

.table-actions .go-ahead li{
margin:0px 0px 0px 10px;
}

.go-ahead a{
color:#ffffff;
background-color:#153b62;
padding:7px 9px;
font-weight:bold;
text-decoration:none;
white-space:nowrap;
}

.go-ahead a:hover{
background-color:#006699;
color:#ffffff;
}


a.go{
background-image:url(../img/i-go.png);
background-repeat: no-repeat;
/*background-position: right 6px;*/
padding:7px 20px 7px 9px;
background-position: right 5px;
}

select, input{
vertical-align:middle;
}

table{
table-layout: auto;

}

tr.hack td{
height:1px;
padding:0px;
text-align:left;
}

.tableholder {margin-bottom:15px;}
.tableholder table{
/*table-layout:auto;*/
table-layout:fixed;
}

/* buttons */

.nl{
line-height:20px;
}

.g-btn{
width:20px;
height:20px;
display:block;
vertical-align:top;
font-size:0px;
}

.g-btn.inlineBlock {
	display: inline-block;	
}

.i-goto{
margin-left:70px;
margin-top:-21px;
}

.i-gotoicon{
float:right;	
margin-left:45px;
margin-top:-21px;
}
.avail-i{
margin-left:70px;
margin-top:-20px;
}	


/* links/functions with icons (background-images)*/
.i-opener{
background-image:url(../img/i-opener.png);
background-repeat: no-repeat;
background-position: 0px 0px;
}
a.i-opener:hover{ background-image:url(../img/i-opener-over.png);}

.b-top .i-opener, .b-top .i-open  {
    margin-left: 2px;
}

.i-open{
background-image:url(../img/i-open.png);
background-repeat: no-repeat;
background-position: 0px 0px;
}
a.i-open:hover{background-image:url(../img/i-open-over.png);}

.i-trash{
background-image:url(../img/i-trash.png);
background-repeat: no-repeat;
background-position: 0px 0px;
margin-left: 2px;
}
a.i-trash:hover{background-image:url(../img/i-trash-over.png);}

.del-watch-list{
background-image:url(../img/i-trash.png);
background-repeat: no-repeat;
background-position: right 0px;
padding-right:25px;
color:#ffffff;
text-decoration:none;
text-align: right;
display:inline-block;
}

a.del-watch-list:hover{
background-image:url(../img/i-trash-over.png);
color:#ffffff;
text-decoration:underline;
}

tr.watch-list-desc td{

padding: 15px 20px;
border-bottom: 8px solid #ffffff;

}

.i-cal{
background-image:url(../img/i-calendar.png);
background-repeat: no-repeat;
background-position: 0px 0px;
}
a.i-cal:hover{background-image:url(../img/i-calendar-over.png);}
.i-cal.b-right{margin-left: 3px;}




.i-conversion{
background-image:url(../img/i-conversion.png);
background-repeat: no-repeat;
background-position: 0px 0px;
}
a.i-conversion:hover{background-image:url(../img/i-conversion-over.png);}

.i-sum{
background-image:url(../img/i-sum.png);
background-repeat: no-repeat;
background-position: 0px 0px;
}
a.i-sum:hover{background-image:url(../img/i-sum-over.png);}

.i-si{
background-image:url(../img/i-si.png);
background-repeat: no-repeat;
background-position: 0px 0px;
}
a.i-si:hover{background-image:url(../img/i-si-over.png);}

.i-lookup{
background-image:url(../img/i-lookup.png);
background-repeat: no-repeat;
background-position: 0px 0px;
}
a.i-lookup:hover{background-image:url(../img/i-lookup-over.png);}

.i-basket{
background-image:url(../img/i-basket.png);
background-repeat: no-repeat;
background-position: 0px 0px;
}
a.i-basket:hover{background-image:url(../img/i-basket-over.png);}


.i-help{
background-image:url(../img/icon_help.png);
padding-left:13px;
background-repeat: no-repeat;
background-position: 0px 2px;
}


/* ordertracking */
table.ordertracking-search{margin: 7px 0px 15px 10px;}

table.ordertracking-detail{width:100%;}

.ordertracking-search td {padding-right:15px;}

table.basket, table.order, table.confirm, table.watch-list, table.tracking{
width:100%;
}

td.no-break{
white-space:nowrap;
}



/* holds input and icon inline (date and unit)*/

td.no-break-date .nl{
white-space:nowrap;
/*width:110px;*/
height:20px;
width: 90px;
}

td.no-break-date {
white-space:nowrap;
/*width:115px;*/
width: 90px;

}

td.no-break-unit .nl{
white-space:nowrap;
/*width:85px;*/
width:10px;

}

td.no-break-unit {
white-space:nowrap;
/*width:90px;*/
width:10px;
}

table.tracking .table-head td{
white-space:nowrap;
}

table.tracking .table-head td a{
display:block;
}

table.basket .table-meta td .nl{
display:block;
}

.description .nl {line-height:14px;padding-top:3px;word-wrap:break-word;}

table.ordertracking-search .nl{
margin-bottom:3px;
}

.tracking-invoice{
margin: 5px 0px 0px 10px;
}

/* fixed width for select status, select sparte*/
.sel-status{width:174px;}
.sel-sparte{width:250px;}

/* sorting links in tracking table*/
/* unsorted*/
a.track-link{
color: #333333;
text-decoration:none;
background-image:url(../img/i-sort.png);
background-repeat: no-repeat;
padding:0px 0px 2px 24px;
background-position: -4px -0px;
}

a.track-link:hover{
color: #006699;
text-decoration:none;
background-image:url(../img/i-sort-over.png);
}

.no-link{
display:block;
padding:2px;
}

/* sort asc */
a.track-link-asc{
color: #333333;
text-decoration:none;
background-image:url(../img/i-sort-asc.png);
background-repeat: no-repeat;
padding:0px 0px 2px 25px;
background-position: 0px 0px;
}

a.track-link-asc:hover{background-image:url(../img/i-sort-asc-over.png);}

/* sort desc */
a.track-link-desc{
color: #333333;
text-decoration:none;
background-image:url(../img/i-sort-desc.png);
background-repeat: no-repeat;
padding:0px 0px 2px 25px;
background-position: 0px 0px;
}

a.track-link-desc:hover{background-image:url(../img/i-sort-desc-over.png);}

td.alignr a.track-link, td.alignr a.track-link-desc, td.alignr a.track-link-asc{
float:right;
}

a.track-link-asc:hover, a.track-link-desc:hover{
color: #006699;
text-decoration:none;
}

.tracking-actions{
padding-top:8px;
}

/* search01 */

.product{
border:1px solid #b5c6da;
padding:10px;
width:285px;
margin-top:6px;
}

.product a{
font-weight:bold;
}

.category-smallImg{
width:200px;
height:213px;
padding: 0px;
padding-top: 6px;
}
.category-bigImg{ 
width:305px;
height:237px;
padding: 0px;
padding-top: 6px;
}

.cat-name{
color: #000000;
font-size:12px;
margin-top:6px;
}

/* holds category-image in search*/
.catimage-holder{
text-align:center;
padding-top:10px;
}

.heading-13{
font-size:13px;
font-weight:bold;
margin-bottom:7px;
}

.gen-ul li{
margin-bottom:7px;

}


td.spacer{padding:0px;height:12px;}
td.spacer2{padding:0px;height:13px;background-color:transparent;}

.batchorder-holder{
padding:20px 0px 20px 100px;
margin-bottom:20px;
background-color:#dee9f4;
}

.bg-batchorder {
font-weight:bold;
}

.batchorder-spec li{
list-style-image:url(../img/red_bullet.png);
list-style-type:square;
list-style-position:outside;
}

td.bg-search {
font-weight:bold;
}

.search-1{
margin-top:25px;
}

.search-holder{
background-image:url(../img/icon_search_big.png);
background-repeat: no-repeat;
/*background-position: 18px 18px;
padding:20px 0px 20px 100px;*/
margin-bottom:20px;
background-color:#dee9f4;

background-position: 13px 13px;
padding: 20px 0 25px 82px;
}

.search-1-wrap
{
	margin-left:-1px
	}
.go-search-submit{
border:0;
background-image:url(../img/i-go.png);
background-repeat: no-repeat;
background-position: right 2px;
color:#ffffff;
background-color:#153b62;
padding:2px 20px 2px 9px;
font-weight:bold;
text-decoration:none;
cursor:pointer;
font-size:13px;
font-family: Arial, Helvetica, sans-serif;
margin:0px 3px;
}



.go-search-submit:hover{
background-color:#006699;
padding:2px 20px 2px 9px;
color:#ffffff;
}

.go-search-submit-big{
border:0;
background-image:url(../img/i-go.png);
background-repeat: no-repeat;
background-position: right 5px;
color:#ffffff;
background-color:#153b62;
padding:5px 20px 6px 9px;
font-weight:bold;
text-decoration:none;
cursor:pointer;
font-size:13px;
font-family: Arial, Helvetica, sans-serif;
margin:0px 3px;
}

.go-search-submit-big:hover{
background-color:#006699;
padding:5px 20px 6px 9px;
color:#ffffff;
}

.go-submit {
border:0;
background-image:url(../img/i-go.png);
background-repeat: no-repeat;
background-position: right 5px;
color:#ffffff;
background-color:#153b62;
padding:5px 20px 6px 9px;
font-weight:bold;
text-decoration:none;
cursor:pointer;
font-size:13px;
font-family: Arial, Helvetica, sans-serif;
margin:0px 3px;
}

.watch-list .go-submit{margin:0px;}

.go-submit:hover{
background-color:#006699;
padding:5px 20px 6px 9px;
color:#ffffff;
}

.gen-btn{
background-image:url(../img/i-go.png);
background-repeat: no-repeat;
background-position: right 5px;
color:#ffffff;
background-color:#153b62;
padding:7px 20px 7px 9px;
font-weight:bold;
text-decoration:none;
cursor:pointer;
}

a.gen-btn:hover{
background-color:#006699;
color:#ffffff;

}



.submit-row td{padding: 10px 0px 10px 0px;}
a.link-submit{padding:6px 22px 7px 12px;vertical-align:middle;background-position: right 5px;}
a.link-submit-small{text-decoration:none; color:#ffffff;/*background-color:#153b62;*/
/*padding:2px 22px 2px 12px;*/vertical-align:middle;background-position: right 1px;
background-image: url(../img/i-go.png);background-repeat: no-repeat;font-weight:bold;
/*font-size:13px;*/margin-right:3px;
background-color: #153B62;
    background-position: right 0px;
    font-size: 12px;
    padding: 2px 17px 3px 7px;
}

a.link-submit-small:hover{background-color:#006699;
color:#ffffff;}



.fix-right{margin-right:5px;}

a.link-submit-big{text-decoration:none; color:#ffffff;background-color:#153b62;padding:6px 22px 7px 12px;vertical-align:middle;background-position: right 5px;background-image: url(../img/i-go.png);background-repeat: no-repeat;font-weight:bold;font-size:13px;}
a.link-submit-big:hover{background-color:#006699;
color:#ffffff;}



td.pad-top{padding-top:15px;padding-bottom:10px;}

.availability-search{margin-bottom:10px;}

/*

.go-ahead a{
color:#ffffff;
background-color:#153b62;
padding:7px 9px;
font-weight:bold;
text-decoration:none;
white-space:nowrap;
}

.go-ahead a:hover{
background-color:#006699;
color:#ffffff;
}

a.go{
background-image:url(../img/i-go.png);
background-repeat: no-repeat;
background-position: right 6px;
padding:7px 20px 7px 9px;
}



*/


.search-form1, .search-form2{
display:block;
margin-top:5px;

}

.search-input{height:14px;margin-right:3px;}
.search-form1 .go-search{margin-top:2px;}

.goto-checkbox{

}

/* search2*/
.search-2-wrap{margin-top:10px;}

.double-pad{
padding-top:20px;
padding-bottom:20px;
}

/* pagination */
.table-actions .pagination {
display:inline;
/*margin:0px 10px;*/
    margin: 10px 10px;
	padding:7px;
}

.pagination li a{font-size:11px;}

.pager td {margin-bottom:10px;padding-bottom:7px;}
.pager select {font-size:11px;height:18px;margin-bottom:-1px;}

.table-actions .pagination li{
display:inline;
margin:0;
padding:0;
}

.pagination li a{
background-color:#153b62;
color:#ffffff;
padding:2px 6px;
text-decoration:none;
}

.pagination li a:hover{
background-color:#006699;
color:#ffffff;
}

.pagination li.current a{
background-color:#006699;
}

.link-back{
padding-left:10px;
}

/* popups */
.popup {
margin:25px 25px 0px 25px;
}

/* popup delivery adress */
table.delivery-adress{
table-layout:fixed;}



/* calendar */

.calendar td{
padding: 1px 1px 0px 0px;
}

.select-holder td{
background-color:#999999;
padding:4px;
margin-bottom:-1px;
}

.cal-nav td{

text-align:center;
padding-top:1px;
padding-bottom:3px;
}

.cal-nav a {
color:#ffffff;
background-color:#14395f;
text-decoration:none;
width:30px;
height:20px;
display:block;
padding-top:3px;
font-weight:bold;
font-size:16px;
}

/**********************************************************
 Date picker
**********************************************************/
.calendar .select-holder .select-month{
    width: 149px;
}

.calendar .cal-nav a:hover {
    color: #ffffff;
    background-color: #006699;
}

.calendar .cal-nav a.go-today {
    width: 92px;
    height: 20px;
    display: block;
    padding-top: 3px;
    font-size: 12px;
}

.calendar tr.weekdays td {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}

.calendar .empty{
    background-color: #ffffff;
}

.calendar .past,
.calendar .future,
.calendar .today{
    text-align: center;
    vertical-align: middle;
}

.calendar .past a,
.calendar .future a,
.calendar .today a {
    display: block;
    width: 30px;
    height: 23px;
    text-decoration: none;
    padding-top: 7px;
}

.calendar .future a:hover,
.calendar .today a:hover {
    background-color: #006699;
    color: #ffffff;
}

.calendar .today,
.calendar .future {
    cursor: pointer;
}

.calendar .past,
.calendar .past a {
    cursor: default;
}

.calendar .past a {
    background-color: #ebebeb;
    color: #adadad;
}

.calendar .future a {
    background-color:#ebebeb;
    color:#333333;
}

.calendar td.today a {
    font-weight: bold;
    color: #333333;
    background-color:#ebebeb;
}

.calendar td.selectedDate a {
    color: #ffffff;
    background-color: #999999;
}

/* hidden elements */
.info-tr{display:none;
}

/* user-data */
.request-ul, .request-ul ul{margin-top:10px;}

.request-ul li{padding-bottom:5px;}

.request-ul ul{margin-left:15px;}

/* confirmation */

.confirmation-tr td {
padding: 15px 20px;
line-height:20px;
}
.confirm-id{
margin:10px 0px;
font-weight:bold;
}

/* added */
.agbinfo {padding-left: 7px;font-size:11px;}

/* footer agb links */
.mlinks{margin-top:5px;}
.mlinks li{display: inline; margin-right: 22px;}

.i-material-desc{width:97%;}
tr.w-sub td.cborder{border-bottom:0px;}
a.meta-link, a.meta-link:hover{color:#ffffff}

/* fixed columns */
.fixed-columns{display:none;}
.fixed-columns2 td{padding:0px;height:0px;visibility:hidden;}
.fixed-columns td{margin:0px;padding:0px;height:0px;visibility:hidden;display:none;}
.table-loop .no-break-date .nl, .table-loop .no-break-unit .nl, .table-loop .unit .nl{height:22px;}

.popup-table-title{padding-bottom:11px;font-size:16px;
	line-height:15px;
}




.search-popup{width:612px;margin:15px auto;}
.search-popup .search-input{width:270px;}
.search-popup table{table-layout:fixed;}

.entry-row td{border-bottom:1px solid }

/* MKZ hidden */
/* edit: 2011-02-15 */
table  td.mkz, table tr.table-loop  td.mkz, table tr.b-top td.mkz{background-color:#ffffff;}
table.no-mkz td.bgCol-error , table.no-mkz td.bgCol-info{border-right-width:0px;}
/*table.no-mkz td.bgCol-info-textarea .info-input{width:97%}*/


td.bgCol-error, .no-border td.bgCol-error {
    background-color: #FCEBEA;
    border: 1px solid #DF1D22;
    color: #DF1D22;
    font-weight: normal;
    line-height: 14px;
    padding: 6px 8px;
	/* added: 2011-02-14 */
	border-width:1px 0px 1px 0px; 
}

td.bgCol-info, .no-border td.bgCol-info{
/*
background-color:#7e9dbb;
color:#ffffff;
font-weight:bold;
padding: 10px 10px 8px 10px;
*/
    background-color: #fdf3e5;
    color: #333333;
    font-weight: normal;
    padding: 6px 8px;
	line-height:15px;
	border-width:1px;
	border-style:solid;
	border-color:#ff9900;
	/* added: 2011-02-14 */
	border-width:1px 0px 1px 0px; 
}


@-moz-document url-prefix() { td.bgCol-error{ border-width:1px 0px 1px 0px; } } 
@-moz-document url-prefix() { td.bgCol-info  { border-width:1px 0px 1px 0px;} } 
@-moz-document url-prefix() { .no-border td.bgCol-error{ border-width:1px 0px 1px 0px; } } 
@-moz-document url-prefix() { .no-border td.bgCol-info  { border-width:1px 0px 1px 0px;} } 


/* added 2011-02-15 */
.search-results #meta1 td{padding-top:3px;}
.search-results .table-meta td{padding-bottom:4px;padding-top:0px;}

/* images in list */
.alert ul, .info ul{margin-top:8px;}
.alert li img{margin-top:-3px;margin-bottom:6px;}

.config-error td{border-bottom:0px;}
.config-error td.bgCol-error{border-bottom:1px solid red;}

.acr-wrap{display:block;margin-top:3px;padding-bottom:7px;padding-top:1px;padding-left:27px;background-repeat:no-repeat;position:relative;}
.acr-wrap.hide-traffic-light{padding-left: 0;}
.config-incorrect{background-image: url(../img/config_incorrect.png);}
.config_done{background-image: url(../img/config_done.png);}
.config_notsimulated{background-image: url(../img/config_notsimulated.png);}

.table-loop td.noborder , .table-loop-sum td{
border-bottom: 0px solid #999999;
}

/* dmc GeST2 REQ: 363 JIRA: BOSCHDC-24: Width of pricing columns 
 * - Added styles for each pricing column. 
 * - Added definitions for col. 
 */
td.listprice, col.listprice {
	width: 76px;
}
td.discount, col.discount {
	width: 62px;
}
td.surcharge, col.surcharge {
	width: 62px;
}
td.netprice, col.netprice {
	width: 76px;
}
td.totalvalue, col.totalvalue {
	width: 86px;
}
td.discount-surcharge, col.discount-surcharge {
	width: 62px;
}

td.mkz {
	width: 1px !important;
	padding: 0 !important;
}

/**********************************************************
 Print version of the order confirmation page
**********************************************************/
body.order-confirmation.print-version {
	padding: 20px;
}

body.order-confirmation.print-version .tableholder {
	margin: 0 !important;
} 

body.order-confirmation.print-version table {
	table-layout: auto !important;
}

body.order-confirmation.print-version td.mkz {
	width: 2px !important;
	padding: 0 !important;
}
