	/** { 
		padding: 0;
		margin: 0;
	}*/
	#af-container {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
	}
	
	#af-top-line {
		height: 24px;
		background-color: white;
		position: fixed;
		width: 100%;
		z-index: 1000;
		top: 0;
	}
	
	.af-spacer {
		/*
		position: absolute;
		right: 0;
		width: 142px;
		*/
		float: right;
	}
	
	#af-left-column {
		width: 182px;
		float: left;
		/*margin-top: 12px;*/
		/*margin-left: 7px;*/ /* 19 + 186 = 205 */
		height:100%;
	}
	
	#af-wrapper {
		background-color: #DFE9F4;
		margin-left: 11px;
	}
	
	#af-right-column {
		width: 142px;
		margin-top: 23px;
		margin-left: 12px;
		margin-right: 11px;
		background-color: white;
	}
	
	#af-middle-column {
		margin-left: 182px;
		padding-left: 12px;
		width: auto;
		background-color: white;
		padding-top: 1px;
		margin-top: -1px;
	}
	
	#af-middle-column.af-middle-column100 {
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
	
	#af-top-navigation.af-middle-column100 {
		margin-left: 0 !important;
	}
	
	
	.af-middle-table{
		width: 100%;
	}
	
	.af-middle-table td.af-middle-table-cell {
		padding: 0 !important;
		margin: 0 !important;
	}
	
	#af-middle-column .wrapper {

	}
	
	#af-footer {
		height: 20px;
		background-color: white;
	}
	
	/* Left Navigation */
	#af-navigation_container {
		background: #B5C6DA;
		position:fixed;
		z-index: 100;
		width: 182px;
		padding-bottom: 6px;
	}

	#af-navigation {
		position: relative;
		left: -4px;
		padding-left: 6px;
		background: #153B62;
		width: 181px;
	}
	
	/* hack against IE box model bug */
	html>body #af-navigation {
		width: 175px;
	}
	#af-navigation a, #af-navigation a:link,#af-navigation a:visited {
		color:#ffffff;
		font-size: 11px;
		text-decoration: none;
	}
	#af-navigation a:active, #af-navigation a:hover {
		color : #b5c6da;
	}
	#af-navigation_eshop {
		margin: 0 0 6px 3px;/*margin: 28px 0 6px 3px;*/
	}
	#af-navigation #af-navigation_eshop a {
		font-size: 13px;
		font-weight: bold;
	}
	#af-navigation .line_u {
		border-bottom: 1px solid #B5C6DA;
	}
	#af-navigation .line_o {
		border-top: 1px solid #B5C6DA;
	}
	#af-navigation p {
		padding: 2px 0;
		margin: 0;
	}
	#af-navigation p.marked {
		padding-left: 14px;
		background: url("../img/p_rechts_we.gif") no-repeat;
		background-position: 4px 2px;
	}
	
	/* Top navigation */
	#af-catalog-select{
		position: absolute;
		left: 0;
		top: 0;
		height: 20px;
		width: 177px;
		margin-left: 7px;
		padding-left: 4px;
		padding-top: 3px;
		padding-bottom: 1px;
		overflow: hidden;
		background-color: #153B62;
	}
	
	#af-catalog-select select{
		font-size:11px;
		width:171px;
	}

	#af-catalog-select.hideleftnavi{
	    background-color: #B5C6DA;
	}

	
	#af-top-navigation{
		position: absolute;
		margin-left: 188px;
		margin-right: 185px;
		padding-top: 3px;
		padding-bottom: 1px;
		height: 20px;
		width: 100%;
		overflow: hidden;
		top: 0;
		background-color: #B5C6DA;
	}
	
	#af-top-spacer {
		position: absolute;
		right: 0;
		top: 0;
		height: 20px;
		width: 185px;
		overflow: hidden;
		background-color: white;
	}
	
	#af-top-spacer img{
		height: 20px;
		width: 185px;
	}
	
	.tooltip {
		z-index: 9000 !important;
	}
	
	#af-bluebar {
		background: #b5c6da;
		float: left;
	}
	
	#af-bluebar td{
		padding:1px 5px 3px !important;
	}
	
	/* padding:1px 10px 3px;*/
	#af-bluebar .functionNav { color:#153b62; font-size: 10px; font-weight: normal; }
	#af-bluebar .functionNav A:link {color : #153b62; text-decoration: none; }
	#af-bluebar .functionNav A:visited {color : #153b62; text-decoration: none; }
	#af-bluebar .functionNav A:active { color : #cc0000; text-decoration: none; }
	#af-bluebar .functionNav A:hover { color : #cc0000; text-decoration: none; }
	
	
	#af-sidebar {
		width: 142px;
		overflow: hidden;
		font-size: 11px;
		color: #153B63;
		background: #BAC6DA;
	}
	#af-sidebar h3 {
		padding: 3px 4px 3px 17px;
		margin: 0;
		font-size: 11px;
		font-weight: bold;
		color: white;
		background: #153b63;
	}
	#af-sidebar p {
		margin: 6px 0;
		padding: 0 4px 0 17px;
	}
	#af-sidebar p.marked {
		background: url("../img/p_rechts_we.gif") no-repeat;
		background-position: 8px 0;
	}
	#af-sidebar input {
		font-size: 9px;
	}
	#af-sidebar a:link, #sidebar a:visited {
	    color: #153B63;
	    text-decoration: none;
	}
	
	#af-sidebar a:hover {
	    color: white;
	    text-decoration: underline;
	}
	
	.error-txt {
		color:#e12a2e;
	}
	
	div.order-anyway {
		margin-top: 5px;
	}
	
	div.order-anyway input {
		margin-right: 3px;
	}
	
	div.shippingMessageWrapper {
		margin-top: -5px;
	}
	
	div.shipMethodMessage {
		background-color:#FFFFFF;
		border: solid 1px #849DB1;
		border-top: 0;
		padding:3px;
	}
	
	div.order-anyway div {
		margin-top: 5px;
	}
	
	/* product list specials */
	tfoot.product-list-footer tr:first-child td {
		border-top: 1px solid #999999;
	}
/*	
	tfoot.product-list-footer tr:last-child td {
		border-bottom: 0px solid #999999;
	}
*/	
	.error-page-text p {
		/*color: red;*/
		margin-top: .7em;
		margin-bottom: .5em;
	}
	
	.error-page-text h2 {
	
	}
	
	a.disabled {
		color: #9B9B9B;
	}
	
	tr.order-anyway td {
		background-color: #DFE9F4;
	}
	
	tr.order-anyway td.bgCol-e-d {
		background-color: #B5C6DA;
	}

	.visible-tr {
		display: table-row;
	}
		
	#MarkerRow {
		display: none;
	}
	
	.border-tr td {
		height: 0px;
		line-height: 0px;
	}
	
	td.no-break-unit select.g-select {
		vertical-align: top;
	}
	
	
	@media print, embossed {
		html, body {
			background: white;
		}
		#printbutton {
			display: none;
		}
		.noprint {
			display: none !important;
		}
		#af-middle-column {
			margin-left: 10px;
			padding-left: 12px;
		}
		
		#af-left-column, #af-right-column {
			display: none !important;
		}
		
		div.config-tooltip[style] {
			position: static !important;
			display:block !important;
			background-color: white !important;
			color: black !important;
			font-weight: normal !important;
			padding: 0 !important;
			margin: 0 !important;
		}
		
		acronym {
			display: none;
		}
		
	}
	
	@media screen, braille, handheld, projection, tv, tty, speech {
		.printonly {
			display: none !important;
		}
	}
	
    .material-no{ /* material number column in baskets */
    	word-wrap: break-word;
    }	
    
    
    .g-divarea {
      background-color: #D4D0C8;
      color:#333333;
      padding:2px;
      font:12px/16px Arial, Helvetica, sans-serif;
      border:1px solid #849db1;
      height:50px;
      overflow:auto;
    }

/* dmc GeST2 REQ: 363 JIRA: BOSCHDC-24: Width of pricing columns 
 * - Added styles for each pricing column. 
 * - Added definitions for col. 
 */
td.listprice, col.listprice {
	width: 76px;
}
td.discount, col.discount {
	width: 62px;
}
td.surcharge, col.surcharge {
	width: 62px;
}
td.netprice, col.netprice {
	width: 76px;
}
td.totalvalue, col.totalvalue {
	width: 86px;
}
td.discount-surcharge, col.discount-surcharge {
	width: 62px;
}

/* dmc GeST2 BOSCHDC-147  BOSCHDC-36: Layout of Customer selection box */
.chosen-with-drop{
	position:absolute!important;
	width:650px!important;
}

.additionalMaterialInfoContainer {
	margin-left: 7px;
}

.info-header-container {
	position:relative;
	padding-right:25px;
	padding-top:3px;
	word-wrap: break-word;
}

.info-header-container .info-header-container-info-icon {
	position:absolute;
	top:-1px;
	right:0;
}


.btn-blue {
	background-color: #153b62;
    color: #ffffff;
    font-weight: bold;
    padding: 7px 9px;
    text-decoration: none;
    white-space: nowrap;
    font-size:12px;
    font-family: Arial;
    border:none;
}

.btn-blue:hover {
	background-color: #006699;
	cursor: pointer;
}

.btn-blue.disabled {
	opacity:0.5;
}

.btn-blue.disabled:hover {
	background-color: #153b62;
}

.middle + .btn-blue.right {
	margin-top: -30px;	
}

.btn-danger {
	background-color: #EF4A5A;
    color: #ffffff;
    font-weight: bold;
    padding: 7px 9px;
    text-decoration: none;
    white-space: nowrap;
    font-size:12px;
    font-family: Arial;
    border:none;	
}

.btn-danger:hover {
  background-color: #FF5050;
  cursor: pointer;
}


.additionalMaterialInfoInBasket {
	float:left;
	margin-left:7px;
}


/* #Basic FontFace Styles */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@font-face {
    font-family: 'bosch_sansbold';
    src: url('fonts/boschsans-bold.eot');
    src: url('fonts/boschsans-bold.eot?#iefix') format('embedded-opentype'),
         /*url('fonts/boschsans-bold.woff2') format('woff2'),
         url('fonts/boschsans-bold.woff') format('woff'),*/
         url('fonts/boschsans-bold.ttf') format('truetype'),
         url('fonts/boschsans-bold.svg#bosch_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bosch_sans_regularregular';
    src: url('fonts/boschsans-regular.eot');
    src: url('fonts/boschsans-regular.eot?#iefix') format('embedded-opentype'),
         /*url('fonts/boschsans-regular.woff2') format('woff2'),
         url('fonts/boschsans-regular.woff') format('woff'),*/
         url('fonts/boschsans-regular.ttf') format('truetype'),
         url('fonts/boschsans-regular.svg#bosch_sans_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.type-plate-image-container {
	border: 1px solid #e5e5e5;
	background-color: #f2f2f2;
	max-width:312px;
}

.type-plate-image-container .type-plate-image {
	margin:6px;
	background-color: white;
	padding:15px;
	width: 270px;
	height:192px;
}

.type-plate-image-container .type-plate-image img{
	width:100%;
}

.table-actions .paging-text {
    display: inline-block;
    margin-right: 10px;
    text-align: left;
}

.table-actions .paging-numbers {
    display: inline-block;
    white-space: nowrap;
}
<!--- Start CSS for searchfilter dropdown --->
.custom-dropdown {
	position: relative;
}

.custom-dropdown-button {
	border: 1px solid transparent;
	border-bottom: none;
	box-sizing: border-box;
	cursor: pointer;
	padding: 5px;
}

.custom-dropdown.active .custom-dropdown-button {
	background: #fff;
	border-color: #999;
}

.custom-dropdown-container {
	border: 1px solid #999;
	border-top: none;
	box-sizing: border-box;
	display: none;
	font-weight: normal;
	margin-top: -1px;
	padding: 10px;
	position: absolute;
	width: 180px;
	background: #fff;
	z-index: 2;
}

.custom-dropdown-container:before {
	border-top: 1px solid #999;
	content: " ";
	position: absolute;
	right: 0;
	top: 0;
	width: 151px;
}

.custom-dropdown.active .custom-dropdown-container {
	display: block;
}

.custom-dropdown input {
	margin: 0;
}

.search-filter {
	width: 100%;
	display: table;
}

.search-filter-text,
.search-filter-dropdown {
	display: table-cell;
	vertical-align: bottom;
}

.search-filter-dropdown .search-filter-dropdown-button {
	height: 29px;
	width: 29px;
	padding-top: 5px;
	padding-left: 4px;
	text-align: center;
}

.search-filter-dropdown .search-filter-option {
	display: table;
	width: 100%;
	font-size: 13px;
}

.search-filter-option > label {
	display: inline-block;
	cursor: pointer;
}

.search-filter-option > label img {
	pointer-events: none;
}

.search-filter-option > label > span {
	display: table-cell;
	vertical-align: middle;
	height: 32px;
}

.search-filter-option > label > span:last-child {
	width: 115px;
}

.search-filter-option > label > span + span {
	padding-left: 10px;
}

.search-filter-dropdown .search-filter-option + .search-filter-option {
	margin-top: 10px;
}
<!--- END CSS for searchfilter dropdown --->