#zoom {
	background: white none repeat scroll 0 0;
	border: 1px solid #999999;
	z-index:200;
	max-width:700px;
}

#zoom_layer{
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	/* IE 5-7 */
	filter: alpha(opacity=30);
	opacity: 0.3;
    position: fixed;
    background: #000 none repeat scroll 0 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index:150;
}

#zoom #zoomcontainer {
	position:relative;
	height:100%;
}

#zoom #zoom_content .ligtboxcontent .ligtboxcontent-title{
	background-color: #264461;
    color: white;
    padding: 0 35px 15px 15px;
    border-bottom: 1px solid #e5eef2;
    line-height: 42px;
    height: 42px;
    box-sizing: border-box;
    font-family: "bosch_sans_regularregular",Arial;
    font-size: 12px;
    font-weight: bold;
}

#zoom #zoom_content .ligtboxcontent .ligtboxcontent-content{
    padding:15px;
}

#zoom #zoom_content .ligtboxcontent .ligtboxcontent-content.validation {
	padding-top: 20px;
	padding-bottom:20px;
}

#zoom_close {
	color: white;
    font-size: 20px;
    position: absolute;
    right: 15px;
    text-decoration: none;
    top: 15px;
}

.ligtboxcontent .btn-blue {
	font-family: "bosch_sans_regularregular", Arial;
	font-weight: normal;
	border: 1px solid transparent;
	box-sizing: border-box;
}

.lightbox-error-link,
.lightbox-error-link:hover {
	display:inline-block;
	line-height:20px;
	padding-top:5px;
	color:#df1d22;
}

.lightbox-error-link img{
	padding-left:5px; 
}
   
.ligtboxcontent-entry {
	padding: 15px 15px 0 15px;
}

.ligtboxcontent-entry .g-input {
   	box-sizing: border-box;
    height: 26px;
    margin: 0 0 20px 0;
    padding: 2px 10px;
    width: 100%;
    background-color: #f2f2f2;
    border: 1px solid #a3bac8;
}

.error-validation .g-input {
    border: 1px solid #ffccd4;
    margin-bottom:10px;
}


.ligtboxcontent-entry-hint-container {
	border-bottom: 1px solid #a3bac8;
}

.ligtboxcontent-entry .ligtboxcontent-entry-hint {
    padding-bottom:15px;
    text-transform: uppercase;
    color: #999;
    font-family: "bosch_sansbold",Arial;
}

.ligtboxcontent-entry.error-validation .ligtboxcontent-entry-hint {
    color: #de6f81;
}


.ligtboxcontent-entry .ligtboxcontent-entry-hint-error {
	display:none;
}

.ligtboxcontent-entry.error-validation .ligtboxcontent-entry-hint-error {
   display:block;
   background-color: #ffccd4;
   color:#de6f81;
   padding:10px;
   margin-bottom:20px;
}

.ligtboxcontent-content-row,
.ligtboxcontent-content-buttons {
	display:table;
	width:100%;
}

.ligtboxcontent-content-cell {
	display:table-cell;
	vertical-align: top;
}


.ligtboxcontent-content-cell img{
	width:100%;
}

.ligtboxcontent-content-cellright {
	padding-left: 10px;
	font:1.250em/1.250em arial;
	color:#333;
}


.ligtboxcontent-footer {
	padding:0 15px 15px;
	text-align: right;
}

/**********************************************************
 Prevent text from shifting during click
**********************************************************/
button span{
    position: relative;
}

/**
button blu within lightbox
**/
.ligtboxcontent .btn-blue + .btn-blue {
	margin-left: 5px;
}

.ligtboxcontent .btn-blue.disabled,
.ligtboxcontent .btn-blue.disabled:hover {
	border: 1px solid #e5e5e5;
	color:#9b9b9b;
	opacity:1;
	background:white;
}

