#SupportMsg_PopUpOverlay {
	width:100%; 
	height:100%;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	-khtml-opacity: 0.5; 
	opacity: 0.5; 
	background:#000; 
	position:absolute; 
	top:0; left:0; 
	z-index:3000; 
	display:none;
}

#SupportMsg_PopUpBox {
	background:#FFF;
	position:absolute; 
	z-index:5000; 
	display:none;
	height:240px;
	width:615px;
}

#SupportMsg_PopUpBox .SupportMsg_PopUpContent {
	color:#666; 
	height:230px;
	width:600px;
	padding:5px;
}
		