<launch>
    <!-- map file argument takes YAML-File, not Image-File! -->
    <arg name="map_file" value="/home/chillahe/maps/map-alpha4.yaml" />

    <node name="MapServer" pkg="map_server" type="map_server"  args="$(arg map_file)"  output="screen">
    	<param name="frame_id" value="map" />
    </node>

    <!-- AMCL Parameters in amcl.launch -->
    <include file="$(find scoomatic_drive)/launch/amcl.launch"/>

    <!-- Start base for navigation: move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find scoomatic_drive)/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find scoomatic_drive)/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find scoomatic_drive)/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find scoomatic_drive)/global_costmap_params.yaml" command="load" /> 
        <rosparam file="$(find scoomatic_drive)/base_local_planner_params.yaml" command="load" />
    </node>

</launch>