<?xml version="1.0"?>
<launch>
    <!-- External NODES -->
    <!-- IMU -->
    <include file="$(find scoomatic_ros1)/launch/mpu_9250.launch"/>
    <!-- LIDAR -->
    <node name="RPLidar" pkg="rplidar_ros" type="rplidarNode" output="screen">
    	<param name="serial_port" type="string" value="/dev/rplidar" />
        <param name="frame_id" type="string" value="laser"/>
        <!-- for scan mode possibilities look at RPLidar docs (Page 12): https://download.slamtec.com/api/download/rplidar-protocol/2.1.1?lang=en-->
        <param name="scan_mode" type="string" value="Boost"/> <!-- Boost ≙ 8K Samples--> <!-- Express ≙ 4K Samples--> 
    </node>
    <!-- Start Publishing URDF Model and TF Transformation-->
    <include file="$(find scoomatic_description)/launch/publish_scoomatic_description.launch"/>
    <!-- Internal NODES -->
    <!-- Odom Publisher -->
    <node name="OdomPublisher" pkg="scoomatic_ros1" type="odom_publisher.py"></node>
    <!-- Motor Driver -->
    <node name="MotorDriver" pkg="scoomatic_ros1" type="motor_driver.py">
	    <param name="port" type="str" value="/dev/motor_driver"/>
        <param name="topic" type="str" value="/cmd_vel"/>
        <!-- Limit the maxspeed of the Scoomatic. For SLAM, 2 is recommended.
        ! ATTENTION ! Maximum speed is very high and should not be underestimated !
        Range from 1 to 10 -> 10: Max, 1:Min -->
        <param name="maxspeed_factor" type="int" value="3"/> 
    </node>
    <!-- Motor Diagnostics -->
    <node name="MotorDiag" pkg="scoomatic_ros1" type="motor_diag.py">
	    <param name="port" type="str" value="/dev/motor_diag"/>
        <param name="rate" type="int" value="5"/>
    </node>
    <!-- Gamepad Driver -->
    <node name="GamepadDriver" pkg="scoomatic_ros1" type="gamepad_driver.py">
	    <param name="topic" type="str" value="/cmd_vel"/>
        <param name="rate" type="int" value="10"/>
        <!-- Gain for Gamepad different from maxspeed_factor on MotorDriver -->
        <param name="gain_lin" type="double" value="0.6"/> <!-- From 0.0 to 1.0-->
        <param name="gain_ang" type="double" value="0.8"/> <!-- From 0.0 to 1.0-->
    </node>
    <!-- Sonar Driver -->
    <node name="SonarDriver" pkg="scoomatic_ros1" type="sonar_driver.py">
        <param name="rate" type="int" value="5"/>
        <param name="topic" type="str" value="/sonar"/>
        <param name="port" type="str" value="/dev/sonar_driver"/>
        <param name="baudrate" type="str" value="115200"/>
        <param name="frame_id" type="str" value="base_link"/>
    </node>
    <!-- Joy Driver -->
    <!--<node name="JoyDriver" pkg="scoomatic_ros1" type="joy_driver.py">
	    <param name="port" type="str" value="/dev/joydriver"/>
        <param name="rate" type="int" value="15"/>
        <param name="topic_vel" type="str" value="/joy"/>
        <param name="topic_btn" type="str" value="/btn"/>
    </node>-->
</launch>