<?xml version="1.0"?>
<launch>
    <!-- IMU -->
    <include file="$(find scoomatic_ros1)/launch/mpu_9250.launch"/>
    <!-- LIDAR -->
    <node name="Rplidar" pkg="rplidar_ros" type="rplidarNode" output="screen">
    	 <param name="serial_port" type="string" value="/dev/rplidar" />
    </node>
    <!-- Motor Driver -->
    <node name="MotorDriver" pkg="scoomatic_ros1" type="motor_driver.py">
	    <param name="scoomatic/port" type="str" value="/dev/motor_driver"/>
        <param name="scoomatic/topic" type="str" value="cmd_vel"/>
    </node> 
    <!-- Joy Driver -->
    <node name="JoyDriver" pkg="scoomatic_ros1" type="joy_driver.py">
	    <param name="scoomatic/port" type="str" value="/dev/joydriver"/>
    </node> 
</launch>

